.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15%;
}
.boards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
