.card {
    margin: 5px;
}
.list-content {
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    margin: 4px 0;
    max-width: 300px;
    min-height: 20px;
    text-decoration: none;
    z-index: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
  }
  .list-content:hover {
    background-color: rgba(196, 200, 208, 0.27);
  }