.board-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 30px;
    margin: 0 30px;
    scroll-direction: horizontal;
}
button {    
    min-width: 272px;
    margin: 0 4px;
}